{% extends "base.html" %}
{% block extrahead %}
  <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  <style>
#cookie-bar {background-color: #f9f9f9!important; box-shadow: -1px -1px 3px silver;}
#cookie-bar p {padding: 16px 0!important;}
#cookie-bar a, #cookie-bar a:hover, #cookie-bar-prompt-content a, #cookie-bar-prompt-content span {color: #3c97ef!important;}
#cookie-bar #cookie-bar-button {border-color: #3c97ef; color: #3c97ef!important; margin-top: 14px!important;}
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=en&theme=minimal&always=1&privacyPage=https%3A%2F%2Fen.euro-linux.com%2Fcompany%2Fcookie-policy%2F" defer="defer" async="async"></script>
{% endblock %}
